.site-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);

    &__waves {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,600 C 0,600 0,120 0,120 C 102.63157894736847,100.53588516746412 205.26315789473693,81.07177033492823 314,75 C 422.73684210526307,68.92822966507177 537.5789473684209,76.2488038277512 616,89 C 694.4210526315791,101.7511961722488 736.4210526315791,119.933014354067 811,122 C 885.5789473684209,124.066985645933 992.7368421052631,110.01913875598086 1103,107 C 1213.2631578947369,103.98086124401914 1326.6315789473683,111.99043062200957 1440,120 C 1440,120 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,120 0,120 C 80.36363636363635,99.89473684210526 160.7272727272727,79.78947368421052 251,79 C 341.2727272727273,78.21052631578948 441.4545454545455,96.73684210526318 553,117 C 664.5454545454545,137.26315789473682 787.4545454545453,159.26315789473682 882,154 C 976.5454545454547,148.73684210526318 1042.7272727272727,116.21052631578948 1131,106 C 1219.2727272727273,95.78947368421052 1329.6363636363635,107.89473684210526 1440,120 C 1440,120 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,120 0,120 C 79.19617224880383,99.6267942583732 158.39234449760767,79.2535885167464 255,87 C 351.60765550239233,94.7464114832536 465.62679425837325,130.61244019138758 579,151 C 692.3732057416267,171.38755980861242 805.1004784688994,176.29665071770336 893,158 C 980.8995215311006,139.70334928229664 1043.9712918660289,98.20095693779905 1131,88 C 1218.0287081339711,77.79904306220095 1329.0143540669856,98.89952153110048 1440,120 C 1440,120 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,120 0,120 C 105.82775119617222,138.86124401913875 211.65550239234443,157.7224880382775 318,152 C 424.34449760765557,146.2775119617225 531.2057416267943,115.97129186602871 615,102 C 698.7942583732057,88.02870813397129 759.5215311004785,90.39234449760765 835,98 C 910.4784688995215,105.60765550239235 1000.708133971292,118.45933014354067 1104,123 C 1207.291866028708,127.54066985645933 1323.645933014354,123.77033492822966 1440,120 C 1440,120 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,120 0,120 C 102.63157894736847,100.53588516746412 205.26315789473693,81.07177033492823 314,75 C 422.73684210526307,68.92822966507177 537.5789473684209,76.2488038277512 616,89 C 694.4210526315791,101.7511961722488 736.4210526315791,119.933014354067 811,122 C 885.5789473684209,124.066985645933 992.7368421052631,110.01913875598086 1103,107 C 1213.2631578947369,103.98086124401914 1326.6315789473683,111.99043062200957 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,600 C 0,600 0,240 0,240 C 97.37799043062202,245.5693779904306 194.75598086124404,251.13875598086125 280,248 C 365.24401913875596,244.86124401913875 438.3540669856459,233.01435406698565 529,227 C 619.6459330143541,220.98564593301435 727.8277511961724,220.8038277511962 828,235 C 928.1722488038276,249.1961722488038 1020.3349282296651,277.77033492822966 1121,281 C 1221.6650717703349,284.22966507177034 1330.8325358851675,262.11483253588517 1440,240 C 1440,240 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,240 0,240 C 72.44019138755979,229.45454545454547 144.88038277511959,218.90909090909093 239,211 C 333.1196172248804,203.09090909090907 448.91866028708137,197.8181818181818 558,204 C 667.0813397129186,210.1818181818182 769.444976076555,227.81818181818184 857,229 C 944.555023923445,230.18181818181816 1017.3014354066986,214.9090909090909 1112,214 C 1206.6985645933014,213.0909090909091 1323.3492822966507,226.54545454545456 1440,240 C 1440,240 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,240 0,240 C 77.97129186602868,258.32535885167465 155.94258373205736,276.6507177033493 242,261 C 328.05741626794264,245.34928229665073 422.2009569377991,195.72248803827753 532,195 C 641.7990430622009,194.27751196172247 767.2535885167465,242.45933014354068 860,262 C 952.7464114832535,281.5406698564593 1012.7846889952152,272.4401913875598 1104,264 C 1195.2153110047848,255.55980861244018 1317.6076555023924,247.7799043062201 1440,240 C 1440,240 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,240 0,240 C 105.4736842105263,232.86124401913878 210.9473684210526,225.72248803827753 301,235 C 391.0526315789474,244.27751196172247 465.6842105263157,269.9712918660287 558,273 C 650.3157894736843,276.0287081339713 760.3157894736843,256.39234449760767 866,258 C 971.6842105263157,259.60765550239233 1073.0526315789473,282.4593301435407 1168,283 C 1262.9473684210527,283.5406698564593 1351.4736842105262,261.77033492822966 1440,240 C 1440,240 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,240 0,240 C 97.37799043062202,245.5693779904306 194.75598086124404,251.13875598086125 280,248 C 365.24401913875596,244.86124401913875 438.3540669856459,233.01435406698565 529,227 C 619.6459330143541,220.98564593301435 727.8277511961724,220.8038277511962 828,235 C 928.1722488038276,249.1961722488038 1020.3349282296651,277.77033492822966 1121,281 C 1221.6650717703349,284.22966507177034 1330.8325358851675,262.11483253588517 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,600 C 0,600 0,360 0,360 C 113.78947368421055,343.0622009569378 227.5789473684211,326.1244019138756 323,332 C 418.4210526315789,337.8755980861244 495.47368421052624,366.5645933014354 592,365 C 688.5263157894738,363.4354066985646 804.5263157894736,331.61722488038276 897,337 C 989.4736842105264,342.38277511961724 1058.421052631579,384.96650717703346 1145,395 C 1231.578947368421,405.03349282296654 1335.7894736842104,382.51674641148327 1440,360 C 1440,360 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,360 0,360 C 94.92822966507177,361.70334928229664 189.85645933014354,363.4066985645933 293,358 C 396.14354066985646,352.5933014354067 507.5023923444976,340.0765550239235 615,337 C 722.4976076555024,333.9234449760765 826.133971291866,340.28708133971287 906,340 C 985.866028708134,339.71291866028713 1041.9617224880383,332.7751196172249 1127,335 C 1212.0382775119617,337.2248803827751 1326.0191387559807,348.6124401913876 1440,360 C 1440,360 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,360 0,360 C 80.61244019138758,372.13397129186603 161.22488038277515,384.267942583732 269,377 C 376.77511961722485,369.732057416268 511.7129186602871,343.0622009569378 626,341 C 740.2870813397129,338.9377990430622 833.9234449760766,361.4832535885168 916,364 C 998.0765550239234,366.5167464114832 1068.5933014354066,349.0047846889952 1154,345 C 1239.4066985645934,340.9952153110048 1339.7033492822966,350.4976076555024 1440,360 C 1440,360 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,360 0,360 C 76.64114832535884,350.3732057416268 153.28229665071768,340.7464114832536 253,340 C 352.7177033492823,339.2535885167464 475.5119617224881,347.3875598086125 584,362 C 692.4880382775119,376.6124401913875 786.66985645933,397.70334928229664 873,402 C 959.33014354067,406.29665071770336 1037.8086124401916,393.79904306220095 1131,384 C 1224.1913875598084,374.20095693779905 1332.0956937799042,367.1004784688995 1440,360 C 1440,360 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,360 0,360 C 113.78947368421055,343.0622009569378 227.5789473684211,326.1244019138756 323,332 C 418.4210526315789,337.8755980861244 495.47368421052624,366.5645933014354 592,365 C 688.5263157894738,363.4354066985646 804.5263157894736,331.61722488038276 897,337 C 989.4736842105264,342.38277511961724 1058.421052631579,384.96650717703346 1145,395 C 1231.578947368421,405.03349282296654 1335.7894736842104,382.51674641148327 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
}

.path-3 {
    animation: pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-3 {
    0% {
        d: path("M 0,600 C 0,600 0,480 0,480 C 125.82775119617227,483.6267942583732 251.65550239234454,487.2535885167464 336,493 C 420.34449760765546,498.7464114832536 463.2057416267942,506.6124401913876 547,512 C 630.7942583732058,517.3875598086124 755.5215311004785,520.2966507177034 850,511 C 944.4784688995215,501.7033492822966 1008.7081339712918,480.20095693779905 1102,473 C 1195.2918660287082,465.79904306220095 1317.6459330143541,472.8995215311005 1440,480 C 1440,480 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,480 0,480 C 120.53588516746413,488.8516746411483 241.07177033492826,497.70334928229664 336,486 C 430.92822966507174,474.29665071770336 500.2488038277512,442.03827751196167 578,435 C 655.7511961722488,427.96172248803833 741.933014354067,446.14354066985646 835,467 C 928.066985645933,487.85645933014354 1028.0191387559807,511.38755980861254 1130,514 C 1231.9808612440193,516.6124401913875 1335.9904306220096,498.30622009569373 1440,480 C 1440,480 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,480 0,480 C 102.83253588516749,461.4354066985646 205.66507177033498,442.87081339712915 313,458 C 420.334928229665,473.12918660287085 532.1722488038276,521.9521531100479 627,517 C 721.8277511961724,512.0478468899521 799.6459330143542,453.32057416267935 897,449 C 994.3540669856458,444.67942583732065 1111.244019138756,494.76555023923447 1205,509 C 1298.755980861244,523.2344497607655 1369.377990430622,501.61722488038276 1440,480 C 1440,480 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,480 0,480 C 101.67464114832538,475.4162679425838 203.34928229665076,470.8325358851675 291,479 C 378.65071770334924,487.1674641148325 452.27751196172244,508.0861244019139 555,496 C 657.7224880382776,483.9138755980861 789.5406698564594,438.82296650717706 880,435 C 970.4593301435406,431.17703349282294 1019.5598086124403,468.622009569378 1106,483 C 1192.4401913875597,497.377990430622 1316.22009569378,488.688995215311 1440,480 C 1440,480 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,480 0,480 C 125.82775119617227,483.6267942583732 251.65550239234454,487.2535885167464 336,493 C 420.34449760765546,498.7464114832536 463.2057416267942,506.6124401913876 547,512 C 630.7942583732058,517.3875598086124 755.5215311004785,520.2966507177034 850,511 C 944.4784688995215,501.7033492822966 1008.7081339712918,480.20095693779905 1102,473 C 1195.2918660287082,465.79904306220095 1317.6459330143541,472.8995215311005 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
}