.contact-details {
  display: flex;
  flex-direction: column;

  &__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    @include media(min-lg) {
      font-size: 24px;
    }

    &:hover {
      .contact-details__icon {
        fill: var(--yellow);
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    fill: var(--blue);
    transition: all 0.2s linear;

    @include media(min-lg) {
      width: 48px;
      height: 48px;
    }
  }
}
