.site-title {
    width: 80%;
    max-width: 220px;
    margin: 30px auto 30px 0;

    @include media(xl) {
        max-width: 340px;
    }

    &__link {
        display: block;
        width: 80%;
        max-width: 220px;
        margin: 20px auto 20px 0;
        color: initial;

        @include media(xl){
            max-width: 330px;
        }

        &:hover {
            color: initial;
        }
    }

    &__logo {
        display: block;
    }

    .site-title__link {
        width: 100%;
        margin: 0;
    }
}